<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url('static/eli.jpg'); background-size: 100% 800%;">
    <h1>Hi what would you like to search? </h1>
    <form action="{{ url_for('results')}}" method="post">
        <label for="searchVal">Search:</label>
        <input type="text" id="searchVal" name="sVal" placeholder="idk">

        <button type="submit">Rep!</button>
    </form>   
    
</body>
</html>