<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qc Results</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/loading.css')}}">
</head>
<body>
    <div class="gif-container center">
      <img id="random-gif" src="" alt="Random GIF">
      <p> Here are some cats while you wait</p>
      <a href="{{ url_for('index') }}">
        <button>Go to Link</button>
    </a>
    </div>
    <script> 
      // Wait for the page to load
      document.addEventListener("DOMContentLoaded", function() {
        // Define the delay in milliseconds (e.g., 3000ms = 3 seconds)
        var delay =1;

        // Function to redirect to the desired route
        function redirectToResults() {
          window.location.href = "{{ url_for('results') }}";
        }

        // Set the redirection to occur after the specified delay
        setTimeout(redirectToResults, delay);
      });
    
        function myFunc(vars) {
          return vars
        }

        var gifList = myFunc({{gifList|tojson}});

        
    
        function displayRandomGif() {
            console.log(gifList);
            // Get a random index from the gifList array
            var randomIndex = Math.floor(Math.random() * gifList.length);
            
            // Get the random GIF URL
            var randomGifUrl = gifList[randomIndex];
            
            // Update the src attribute of the img element with the random GIF URL
            document.getElementById("random-gif").src = randomGifUrl;
        }

        // Call the displayRandomGif function initially
        displayRandomGif();

        // Call the displayRandomGif function every 10 seconds
        setInterval(displayRandomGif, 5000);
    </script>
      </script>
</body>
</html>